{connection, [
    {name, {local, freenode}},
    {nickname, "erlbot-test"},
    {server,   {"chat.freenode.net", 6667}},
    {channels, [
        "#erlbot-test"
    ]},
    {nickserv_password, ""}
]}.
